---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}


{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}

<style>
p.big {
    line-height: 200%;
}
</style>

<p/><img src='/images/Evolinc_logo_small_copy.png' alt="Evolinc" width="75" height="75" align="middle" hspace="20"> <b>Evolutionary analysis of Long non-coding RNA</b>

<p class="big">
Evolinc-I is a long intergenic noncoding RNA (lincRNA) identification workflow that also facilitates genome browser visualization of identified lincRNAs and downstream differential gene expression analysis 
</p>
